.todosEmpty_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 28rem;
    gap: 1.6rem;
}

.todosEmpty_container svg {
    width: 12rem;
}

.todosEmpty_container p {
    font-size: 1.8em;
    font-weight: 400;
    color: #c0c0c0;
}